<title>Remix Portal</title>
<!-- dependancies -->
<script src="/resources/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/commonStyle.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/mixerStyle.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/navigation.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Lobster"
/>
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" />
<!-- Firebase set-up for logins -->
<script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
