<ul class="myUL">
    <% for(var i=0; i<newData.length; i++) { %>
        <li class="artistName" data-id="<%=newData[i].artist %>" id="<%=newData[i].artist%>"> 
                <%= newData[i].artist %>
        </li>
    <% } %>
</ul>
