<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <!-- topMenu -->
    <%- include partials/topMenu.ejs %>

    <!-- main content -->
    <div id="zone">
      This is the competitions page. It will feature a list of available
      competitions, tell the user when they finish, explain what can be won and
      how to enter (just by clicking the accompanying 'remix' button and then
      saving the mix).
    </div>

    <!-- user login script -->
    <script src="/resources/userLogin.js"></script>
  </body>
</html>
