<html>
  <head>
    <%- include partials/head.ejs %>
  </head>

  <body>
    <!-- top Menu -->
    <%- include partials/topMenu.ejs %>

    <div id="zone">
      <span style="color: white"
        >Oops! We can't seem to find what you are looking for. Sorry.</span
      >
    </div>

    <!-- signUp Modal -->
    <%- include partials/signUpM.ejs %>
    <!-- signUp with email Modal -->
    <%- include partials/signUpWithEmailM.ejs %>

    <!-- user login script -->
    <script src="/resources/userLogin.js"></script>
  </body>
</html>
